{% load static %}
body {
  background-color: #f8f7f1;
}

h2 {
  color: #302080; !important;
  text-align: center;
}

.inside h1, h2, h3, h4 {
    font-family: Lato,sans-serif;
    font-weight: 300;
    color: #394cdb;
}
p {
  font-family: verdana;
}

li{
  font-size: 120%;
}
img {
  float: right;
  display: inline-block;
  height: auto;
}
.wider{
  max-width: 55%;
}
.home{
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.inside{
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1.2em;
  color: #162777;
  text-align: justify;
  text-justify: inter-word;
}
.inside p{
  font-size: 1.4em;
}

.contact{
  font-size: 16px;
}

.intro{
  color: #e3ecec;
  background-color: #04093c;
  opacity: 90%;
  line-height: 300px;
  height: 300px;
  text-align: center;
}

.intro h1 {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  text-shadow: 1px 1px 2px ;
  font-size: 4em;
}

.team_paper {
  background-color: #cbd7ee;
  color: #000000;
}

.member {
}

.collaboration li{
  padding-bottom: 10px;

  list-style: inside;
}

.collaboration a{
}
.collaboration a:hover{
  border-radius: 5px;
  background-color: #2a6ba9;
  color: #c4cdcd;
  text-decoration: none;
}
.pubyear{
  margin:30px;
}

.news-descr{
  margin-top: 20px;
  margin-bottom: 70px;
}
.research{
  padding: 3%;
}

.project{
  margin:20px;
}
.downloads li{
  list-style-type: None;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 35%;
  max-height: 400px;
}
.contact_image{
  float: right;
  margin-left: 5%;
  max-width: 100%;
}
.contact-section.paralaxy {
  padding: 100px 0;
  background-size: cover;
}
.flag-div{

}
.flag{
  max-width: 40px;
  margin: 2px;
  float: right;
}

.smaller{
  max-height: 240px;
}