{% extends "base.html" %}

{% block title %}Collaborations{% endblock %}

{% block thema %}Collaborations{% endblock %}

{% block content %}
    <ul>
        <li>Adam Liwo, University of Gdańsk, Poland
        <a href="https://liwo.strony.ug.edu.pl/">
            website
        </a></li>

        <li>Daniel Huster, University of Leipzig, Germany
        <a href="https://biophysik.medizin.uni-leipzig.de/forschungresearch/prof-dr-daniel-huster/">
            https://biophysik.medizin.uni-leipzig.de/forschungresearch/prof-dr-daniel-huster/
        </a></li>

        <li>Martin Zacharias, Technical University of Munich, Germany
        <a href="https://www.groups.ph.tum.de/t38/home/">
            https://www.groups.ph.tum.de/t38/home/
        </a></li>

        <li>Sylvie Ricard-Blum, Claude Bernard University Lyon 1, France
        <a href="http://icbms.fr/annuaire/198-ricard-blum">
            http://icbms.fr/annuaire/198-ricard-blum
        </a></li>

        <li>Fabien Lecaille, François Rabelais University, Tours, France
        <a href="https://www.univ-tours.fr/annuaire/m-fabien-lecaille">
            https://www.univ-tours.fr/annuaire/m-fabien-lecaille
        </a></li>

        <li>Bertrand Huard, University of Grenoble Alps, France
        <a href="https://iab.univ-grenoble-alpes.fr/annuaire/fichepers?type=PP&ujf_biperne=21273">
            https://iab.univ-grenoble-alpes.fr/annuaire/fichepers?type=PP&ujf_biperne=21273
        </a></li>

        <li>Tamás Beke-Somfai and Ferenc Zsila, Hungarian Academy of Sciences, Budapest, Hungary
        <a href="http://bionano.ttk.mta.hu/user/21">
            http://bionano.ttk.mta.hu/user/21
        </a>
        <a href="http://bionano.ttk.mta.hu/user/40">
            http://bionano.ttk.mta.hu/user/40"
        </a></li>

        <li>Finn Lillelund Aachmann and Marit Sletmoen, University of Trondheim, Norway
        <a href="https://www.ntnu.edu/employees/finn.l.aachmann">
            https://www.ntnu.edu/employees/finn.l.aachmann
        </a>
        <a href="https://www.ntnu.edu/employees/marit.sletmoen">
            https://www.ntnu.edu/employees/marit.sletmoen
        </a></li>

        <li>Satoru Tsushima, University of Tokyo, Japan/Helmholtz-Zentrum Dresden-Rossendorf, Germany
        <a href="https://www.hzdr.de/db/!ContMan.Visi.Card?pNid=no&pUser=3761">https://www.hzdr.de/db/!ContMan.Visi.Card?pNid=no&pUser=3761">
            https://www.hzdr.de/db/!ContMan.Visi.Card?pNid=no&pUser=3761
        </a></li>

        <li>Ludmila Puchkova, Peter the Great St. Petersburg Polytechnic University, Russia
        <a href="https://photonic.itmo.ru/ru/viewperson/204347/puchkova-lyudmila-valentinovna.html">
            https://photonic.itmo.ru/ru/viewperson/204347/puchkova-lyudmila-valentinovna.html
        </a></li>

        <li>Aliaksei Sysa, Belarusian State University, Minsk, Belarus
        <a href="http://www.iseu.bsu.by/syisa-aleksey-grigorevich/">
            http://www.iseu.bsu.by/syisa-aleksey-grigorevich/
        </a></li>

        <li>Valdecir Farias Ximenes, University of the State of Sao Paulo, Brasil
        <a href="https://unesp.br/portaldocentes/docentes/853?lang=en">
            https://unesp.br/portaldocentes/docentes/853?lang=en
        </a></li>
    </ul>

{% endblock %}