{% extends "base.html" %}
{% load static %}
{% block title %}Collaborations{% endblock %}

{% block thema %}Collaborations{% endblock %}

{% block content %}
    <ul class="collaboration">
        <li>
        <a href="https://liwo.strony.ug.edu.pl/">
            Adam Liwo
        </a>, University of Gdańsk, Poland
        <img class="flag" src="{% static 'flag/pl.png' %}"></li>

        <li>
        <a href="https://biophysik.medizin.uni-leipzig.de/forschungresearch/prof-dr-daniel-huster/">
            Daniel Huster
        </a>, University of Leipzig, Germany<img class="flag" src="{% static 'flag/de.png' %}"></li>

        <li>
        <a href="https://www.groups.ph.tum.de/t38/home/">
            Martin Zacharias
        </a>, Technical University of Munich, Germany<img class="flag" src="{% static 'flag/de.png' %}"></li>

        <li>
        <a href="http://icbms.fr/annuaire/198-ricard-blum">
            Sylvie Ricard-Blum
        </a>, Claude Bernard University Lyon 1, France<img class="flag" src="{% static 'flag/fr.png' %}"></li>

        <li>
        <a href="https://www.univ-tours.fr/annuaire/m-fabien-lecaille">
            Fabien Lecaille
        </a>, François Rabelais University, Tours, France<img class="flag" src="{% static 'flag/fr.png' %}"></li>

        <li>
        <a href="https://iab.univ-grenoble-alpes.fr/annuaire/fichepers?type=PP&ujf_biperne=21273">
            Bertrand Huard
        </a>, University of Grenoble Alps, France<img class="flag" src="{% static 'flag/fr.png' %}"></li>

        <li>
        <a href="http://bionano.ttk.mta.hu/user/21">
            Tamás Beke-Somfai
        </a>and<a href="http://bionano.ttk.mta.hu/user/40">
            Ferenc Zsila
        </a>, Hungarian Academy of Sciences, Budapest, Hungary<img class="flag" src="{% static 'flag/hu.png' %}"></li>

        <li>
        <a href="https://www.ntnu.edu/employees/finn.l.aachmann">
            Finn Lillelund Aachmann
        </a>and<a href="https://www.ntnu.edu/employees/marit.sletmoen">
            Marit Sletmoen
        </a>, University of Trondheim, Norway<img class="flag" src="{% static 'flag/no.png' %}"></li>

        <li>
        <a href="https://www.hzdr.de/db/!ContMan.Visi.Card?pNid=no&pUser=3761">
            Satoru Tsushima
        </a>, University of Tokyo, Japan/Helmholtz-Zentrum Dresden-Rossendorf, Germany
            <img class="flag" src="{% static 'flag/jp.png' %}">
            <img class="flag" src="{% static 'flag/de.png' %}"></li>

        <li>
        <a href="https://photonic.itmo.ru/ru/viewperson/204347/puchkova-lyudmila-valentinovna.html">
            Ludmila Puchkova
        </a>, Peter the Great St. Petersburg Polytechnic University, Russia<img class="flag" src="{% static 'flag/ru.png' %}"></li>

        <li>
        <a href="http://www.iseu.bsu.by/syisa-aleksey-grigorevich/">
            Aliaksei Sysa
        </a>, Belarusian State University, Minsk, Belarus<img class="flag" src="{% static 'flag/bel.png' %}"></li>

        <li>
        <a href="https://unesp.br/portaldocentes/docentes/853?lang=en">
            Valdecir Farias Ximenes
        </a>, University of the State of Sao Paulo, Brasil<img class="flag" src="{% static 'flag/br.png' %}"></li>
    </ul>

{% endblock %}