{% extends "base.html" %}
{% load static %}
{% block title %}Contact{% endblock %}

{% block thema %}Contact{% endblock %}

{% block content %}
<div class="row">
                <div class="col-sm-6">
                    <h3><p><strong>GAG Computational Group</strong></h3>
                    <p><strong>Laboratory of Molecular Modeling</strong>
                    </p><p>Department of Theoretical Chemistry</p>
                    <p>Faculty of Chemistry</p>
                    <p>University of Gdansk</p>
                    <br>
                    <p>ul. Wita Stwosza 63
                    </p><p>80-308 Gdansk, Poland
                    </p><p>phone: +48 58 523 5166
                    </p><p>fax: +48 58 523 5012</p><br>

                    <p><strong>Sergey Samsonov, dr. hab.<br></strong><i class="fa fa-envelope-o" aria-hidden="true"></i>  sergey.samsonov(at)ug.edu.pl</p>
                </div>
                <div class="col-sm-6">
                    <img class="contact_image" src="{% static 'images/gdansk.jpg' %}" alt="Gdansk">
                </div>
            </div>

{% endblock %}