{% extends "base.html" %}
{% load static %}
{% block title %}GAG Computational Group{% endblock %}
{% block thema %}GAG Computational Group{% endblock %}
{% block content %}
<div class="row">

    <div class="col-7">
        <p >GAG Computational Group was established in 2017 when Sergey Samsonov started his
            independent research within the grant project
            <a href={% url 'polonez' %}>Computational approaches to study protein-glycosaminoglycan interactions</a></p>
        <p >In our group, at the <a href="https://chemia.ug.edu.pl/">Faculty of Chemistry, University of Gdańsk</a>, we apply computational tools to analyze properties of glycosaminoglycans (GAGs),
            negatively charged sulfated periodic polysaccharides,
            and develop new approaches to study the GAG-containing biomolecular systems more effectively.
            Our work advances the basic understanding of these particularly
            challenging biologically relevant molecules required for developing
            novel GAG-mediated tissue regeneration strategies. </p>
        <br><br><br>
        <p><i>Link to our <a href="http://www.prot-gag.org">previous website</a> (POLONEZ project).</i>
        </p>
    </div>
    <div class="col-5 animation">
        <img class="w-100 m-2" src="{% static 'images/starting2.png' %}" alt="" loading="lazy">
    </div>
</div>

{% endblock %}