{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block thema %}Home{% endblock %}
{% block content %}
<p>In our group, we apply computational tools to analyze properties of glycosaminoglycans (GAGs),
    negatively charged sulfated periodic polysaccharides,
    and develop new approaches to study the GAG-containing biomolecular systems more effectively.
    Our work is useful for theoretical rationale in the development of novel strategies for tissue regeneration,
    where GAGs play a crucial role.
</p>
{% endblock %}