{% extends "base.html" %}
{% load static %}
{% block title %}Team Members{% endblock %}
{% block thema %}Team Members{% endblock %}
{% block content %}

    {% for member in team %}
    <div class="member">
        <div class="row">
            <div class="col-4"><img src="{{ member.image.url }}" alt=""></div>
            <div class="col-8">
                <h2>{{ member.name }} {{ member.surname }}</h2>
                <h4>{{ member.position}}</h4>
                <p>{{ member.description |safe}}</p>
                <h4><a href="{{ member.cv.url }}" class="btn btn-outline-primary">cv</a></h4>
            </div>
        </div>
    </div>
        <hr>
    {% endfor %}

<div class="m-5">
<h1>Former Members:</h1>
    <ul><li><h5>Urszula Uciechowska-Kaczmarzyk (2017-2019), Postdoctoral Researcher</h5></li></ul>
</div>
<div class="m-5">
<h1>Visiting Members:</h1>
    <ul>
        <li><h5>Gergely Kohut (2018, 2019), PhD student at Institute of Materials and Environmental Chemistry, Hungarian Academy of Sciences, Budapest, Hungary</h5></li>
        <li><h5>Jan Potthoff (2019), Master Student at the Free University of Berlin, Germany</h5></li>
    </ul>
</div>



{% endblock %}
