{% extends "base.html" %}
{% load static %}
{% block title %}Open positions{% endblock %}

{% block thema %}Open positions{% endblock %}

{% block content %}
<p>We are looking for a Postdoctoral Researcher within the  <a href="{% url 'beethoven' %}">BEETHOVEN CLASSIC project</a>.
</p>
<p>
With great pleasure we accept Master students interested to complete their Master Thesis in our group, to
learn different molecular modeling techniques and apply them to biologically relevant systems within
interdisciplinary research projects.
<a href="{% url 'contact' %}">Contact us</a>
</p>
{% endblock %}