{% extends "base.html" %}
{% load static %}
{% block content %}
        <div class="logo-inside row text-center d-flex">
                    {% block logos %}
        {% endblock %}
        </div>


    <div class="row">
        <div class="col-md-7">
            {% block intro %}{% endblock %}
        </div>
        <div class="col-md-5 text-center d-flex">
            {% block image %}{% endblock %}
        </div>
    </div>
    {% block description %}{% endblock %}

    <div class="logo">

    </div>
{% endblock %}
